* {
  font-family: 'Poppins', sans-serif;
}

.input__group {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
        padding: 10px 0px;
    }
}

input {
    padding: 10px;
    border: 1px solid rgba(34,36,38,.15);
    outline: none;
    border-radius: 5px;
    font-size: inherit;
}

input.disabled:disabled {
    background-color: transparent;
}

input::placeholder {
    color: rgb(181, 182, 182);
}

.input-phone {
    display: flex;
    position: relative;
    width: 100%;

    &__input {
        width: 100%;
        border-left-width: 0px;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    & .selected {
        color: #000;
        height: 100%;
        padding: 0px 24px;
        border: 0.5px solid lightgray;
        order: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:focus {
            pointer-events: none;
        }
    }
}
